body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

body, html {
  height: 100%;
  color: #2e2d33;
  line-height: 1.8; }

.name-box {
  background-color: #f2937e;
  color: black;
  font-weight: bold; }

/* Create a Parallax Effect */
.bgimg-1 {
  background-image: url("assets/images/parallax1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; }

.commandioimg-1 {
  background-image: url("assets/images/commandio-output.png");
  background-repeat: no-repeat;
  min-height: 850px;
  width: 725px; }

.img-box {
  height: 900px;
  padding: 20px 100px; }

.w3-wide {
  letter-spacing: 10px; }

.w3-hover-opacity {
  cursor: pointer; }

.w3-bar a {
  font-weight: bold; }

.about-desc {
  font-size: 16px; }

.spacing-bar {
  color: white; }

.commandio-con {
  background-color: rgba(230, 230, 230, 0.65); }

.commandio-desc {
  font-size: 18px; }

.socials a {
  background-color: transparent;
  border: none;
  margin: 5px;
  padding: 0 10px;
  border-radius: 0;
  font-size: 48px;
  text-decoration: none; }
.socials a:hover {
  cursor: pointer; }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px; } }
